
<div>
   <h1 class="headline"> Personal Project Github</h1>
   <section >
     <h1> 1) Kafka Producer (Spring Boot) </h1>
      <p> In this Repo I implemeted a Kafka Producer which produce a data and send it to Broker
        by key so that it go to the same partition
      </p>
      <a href="https://github.com/adityamaurya9717/spring-apache-kafka-producer-demo">Click Here to go to repo</a>
   </section>

   <section>
    <h1> 2) Spring Boot implmentation of JPA And MyBatis Tool </h1>
    <p> In this Repo I implemeted a code of JPA And Mybatis for to fetch data from 
        DB 
      </p>
      <a href="https://github.com/adityamaurya9717/NEWEmployeeManagement/tree/main/JAVA_MY_BACKEND_WORKSPACE/EmployeeManagement">
        Click Here to go to repo</a>
   </section>

   <section>
    <h1>3) Spring Boot implmentation of WEB Socket (ws protocol) </h1>
    <p> In this Repo I implemeted a api for two way connection using WebSocket 
        An Event should be trigred every time when a new Connection Or send Message and
         close connection occurs
      </p>
      <a href="https://github.com/adityamaurya9717/springboot-websocket/tree/master/websocket-aditya">
        Click Here to go to repo</a>
   </section>


</div>
