<div class="about-container">
    <h1 class="font-bold">About Me</h1> 
    <div class="center-div">
      <p class="p" >I am a software engineer. I am a skilled professional who specializes in designing, developing, and maintaining software applications.
         My expertise lies
         in programming languages, software development methodologies, 
         and problem-solving.
        </p>
        <p class="p">
            Your role involves collaborating with cross-functional teams, 
            such as product managers, designers, and quality assurance engineers, 
            to understand requirements and translate them into functional software solutions.
            You possess strong analytical and critical thinking skills to identify and resolve
            complex technical issues.
        </p>
    </div>

    <!--What I am Doing-->
    <h1 class="font-bold">Whats I am Doing</h1>

    <div class="grid-container">
       <div >
         <h3 class="underline" style="text-align:center;font-weight: bolder;">Backend Developer</h3>
         <p class="p-size"> Developing a Backend Code for appliation in Spring boot</p>
       </div>
       <div >
         <h3 class="underline" style="text-align:center" >DataBase Design</h3>
         <p class="p-size" >Creating a Schema Design For application , means how does the Data  should be Stored 
            in Database. Whether to Choose SQL or NOSQL.
         </p>
       </div>

       <div >
        <h3 class="underline" style="text-align:center"> Systen Design </h3>
        <p class="p-size">Design The OverAll Structure of application based on future requirements

        </p>
       </div>

       <div >
        <h3 class="underline" style="text-align:center">Owner Ship</h3>
        <p class="p-size">OwnerShip of a Project is Major Part of any Industry 
            its, determine your leadership and how much you active in a project.
        </p>
       </div>



    </div>



</div>
